<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Guess Me!!</title>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>

<body>
    <!-- CSS and JS -->
    <link href="../static/index.css" rel="stylesheet" />
    <script src="../static/game.js"></script>

    <div class="container">
        <!-- Heading -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center p-5">
                <img src="../static/assets/Group.png" width="100px" class="display_inline" />
                <h1 id="heading" class="display_inline">Guess Me!!</h1>
                <img src="../static/assets/Frame-4.png" width="100px" class="display_inline" />
                <br></br><h2 id="instructions" class="display_inline"> Click on the alphabets to guess the correct word!</h2>
            </div>
        </div>

        <!-- Alphabet Keys -->
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5 text-center mb-5" id="alphabets-container">

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <h2>The Alphabet Keys:</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center" id="alphabet-buttons">
                        <button type="button" id="a" class="btn btn-outline-primary clickable">a</button>
                        <button type="button" id="b" class="btn btn-outline-primary clickable">b</button>
                        <button type="button" id="c" class="btn btn-outline-primary clickable">c</button>
                        <button type="button" id="d" class="btn btn-outline-primary clickable">d</button>
                        <button type="button" id="e" class="btn btn-outline-primary clickable">e</button>
                        <button type="button" id="f" class="btn btn-outline-primary clickable">f</button>
                        <button type="button" id="g" class="btn btn-outline-primary clickable">g</button>
                        <button type="button" id="h" class="btn btn-outline-primary clickable">h</button>
                        <button type="button" id="i" class="btn btn-outline-primary clickable">i</button>
                        <p></p>
                        <button type="button" id="j" class="btn btn-outline-primary clickable">j</button>
                        <button type="button" id="k" class="btn btn-outline-primary clickable">k</button>
                        <button type="button" id="l" class="btn btn-outline-primary clickable">l</button>
                        <button type="button" id="m" class="btn btn-outline-primary clickable">m</button>
                        <button type="button" id="n" class="btn btn-outline-primary clickable">n</button>
                        <button type="button" id="o" class="btn btn-outline-primary clickable">o</button>
                        <button type="button" id="p" class="btn btn-outline-primary clickable">p</button>
                        <button type="button" id="q" class="btn btn-outline-primary clickable">q</button>
                        <button type="button" id="r" class="btn btn-outline-primary clickable">r</button>
                        <p></p>
                        <button type="button" id="s" class="btn btn-outline-primary clickable">s</button>
                        <button type="button" id="t" class="btn btn-outline-primary clickable">t</button>
                        <button type="button" id="u" class="btn btn-outline-primary clickable">u</button>
                        <button type="button" id="v" class="btn btn-outline-primary clickable">v</button>
                        <button type="button" id="w" class="btn btn-outline-primary clickable">w</button>
                        <button type="button" id="x" class="btn btn-outline-primary clickable">x</button>
                        <button type="button" id="y" class="btn btn-outline-primary clickable">y</button>
                        <button type="button" id="z" class="btn btn-outline-primary clickable">z</button>

                    </div>
                </div>

            </div>
        </div>

        <!-- Remaining Lives -->  
        <div style="margin-left: 19.25em;" id="lives_container" >  
         <div class="row text-center">
            <div class="col-sm-8 text-center">
                <h2 style="color: rgb(219, 3, 3);" ><span><u>Remaining Lives</u>:</span> <span id="life">3</span>
                </h2>
                </br>
            </div>
         </div>  
        </div>

        <!-- Correct Answer -->
        <div class="row text-center hidden" style="margin-left: 11em;" id="result_container">
            <div class="col-sm-10 text-center">
                <h1 id="result" style="color: rgb(199, 19, 130);"></h1>
            </div>
        </div>

        <!-- Hint -->      
        <div style="margin-left: 11em;">
         <div class="row text-center">
            <div class="col-sm-10 text-center">
                <h3 style="color: green;" ><span><u>Hint</u>:</span>
                <span id="hint"></span>
                </h3>
            </div>
         </div>
        </div>
        

         <!-- Blanks -->    
         <div style="margin-left: 12em;">   
          <div class="row text-center" style="margin-top: 0.2em;" >
            <div class="col-sm-10 text-center">
                <h2 id="blanks" style="color: brown;" ></h2>
            </div>
         </div>
        </div>
        
    </div>
</body>

</html>